In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_bus_time = pd.read_csv('2020_busstaion_timezone.csv', encoding='euckr')

C:\Users\ILSOO\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3437: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df_bus_time.head()

,사용년월,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,...,19시하차총승객수,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,등록일자
0,202001,100,100번(하계동~용산구청),100000002,01002,창경궁.서울대학교병원,1,0,0,0,...,34,82,16,44,37,49,27,20,15,20200203
1,202001,100,100번(하계동~용산구청),100000003,01003,명륜3가.성대입구,0,0,0,0,...,156,179,102,178,96,168,62,47,18,20200203
2,202001,100,100번(하계동~용산구청),100000005,01005,혜화동로터리.여운형활동터,0,2,0,0,...,318,24,143,38,103,47,76,6,28,20200203
3,202001,100,100번(하계동~용산구청),100000102,01198,원남동,0,0,0,0,...,98,167,85,109,87,97,35,26,13,20200203
4,202001,100,100번(하계동~용산구청),100000108,01204,종로5가.효제동.김상옥의거터,19,34,1,0,...,56,68,24,75,39,59,31,23,28,20200203

In [ ]:
df_bus_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 468819 entries, 0 to 468818
Data columns (total 55 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   사용년월        468819 non-null  int64
 1   노선번호        468819 non-null  object
 2   노선명         468819 non-null  object
 3   표준버스정류장ID   468819 non-null  object
 4   버스정류장ARS번호  468819 non-null  object
 5   역명          468819 non-null  object
 6   00시승차총승객수   468819 non-null  int64
 7   00시하차총승객수   468819 non-null  int64
 8   1시승차총승객수    468819 non-null  int64
 9   1시하차총승객수    468819 non-null  int64
 10  2시승차총승객수    468819 non-null  int64
 11  2시하차총승객수    468819 non-null  int64
 12  3시승차총승객수    468819 non-null  int64
 13  3시하차총승객수    468819 non-null  int64
 14  4시승차총승객수    468819 non-null  int64
 15  4시하차총승객수    468819 non-null  int64
 16  5시승차총승객수    468819 non-null  int64
 17  5시하차총승객수    468819 non-null  int64
 18  6시승차총승객수    468819 non-null  int64
 19  6시하차총승객수    468819 non-null  int64
 20  7시승차총승객수    468819 non-null  int64
 21  7시하차총승객수    468819 non-null  int64
 22  8시승차총승객수    468819 non-null  int64
 23  8시하차총승객수    468819 non-null  int64
 24  9시승차총승객수    468819 non-null  int64
 25  9시하차총승객수    468819 non-null  int64
 26  10시승차총승객수   468819 non-null  int64
 27  10시하차총승객수   468819 non-null  int64
 28  11시승차총승객수   468819 non-null  int64
 29  11시하차총승객수   468819 non-null  int64
 30  12시승차총승객수   468819 non-null  int64
 31  12시하차총승객수   468819 non-null  int64
 32  13시승차총승객수   468819 non-null  int64
 33  13시하차총승객수   468819 non-null  int64
 34  14시승차총승객수   468819 non-null  int64
 35  14시하차총승객수   468819 non-null  int64
 36  15시승차총승객수   468819 non-null  int64
 37  15시하차총승객수   468819 non-null  int64
 38  16시승차총승객수   468819 non-null  int64
 39  16시하차총승객수   468819 non-null  int64
 40  17시승차총승객수   468819 non-null  int64
 41  17시하차총승객수   468819 non-null  int64
 42  18시승차총승객수   468819 non-null  int64
 43  18시하차총승객수   468819 non-null  int64
 44  19시승차총승객수   468819 non-null  int64
 45  19시하차총승객수   468819 non-null  int64
 46  20시승차총승객수   468819 non-null  int64
 47  20시하차총승객수   468819 non-null  int64
 48  21시승차총승객수   468819 non-null  int64
 49  21시하차총승객수   468819 non-null  int64
 50  22시승차총승객수   468819 non-null  int64
 51  22시하차총승객수   468819 non-null  int64
 52  23시승차총승객수   468819 non-null  int64
 53  23시하차총승객수   468819 non-null  int64
 54  등록일자        468819 non-null  int64
dtypes: int64(50), object(5)
memory usage: 196.7+ MB

In [ ]:
df_bus_time.isnull().sum()

사용년월          0
노선번호          0
노선명           0
표준버스정류장ID     0
버스정류장ARS번호    0
역명            0
00시승차총승객수     0
00시하차총승객수     0
1시승차총승객수      0
1시하차총승객수      0
2시승차총승객수      0
2시하차총승객수      0
3시승차총승객수      0
3시하차총승객수      0
4시승차총승객수      0
4시하차총승객수      0
5시승차총승객수      0
5시하차총승객수      0
6시승차총승객수      0
6시하차총승객수      0
7시승차총승객수      0
7시하차총승객수      0
8시승차총승객수      0
8시하차총승객수      0
9시승차총승객수      0
9시하차총승객수      0
10시승차총승객수     0
10시하차총승객수     0
11시승차총승객수     0
11시하차총승객수     0
12시승차총승객수     0
12시하차총승객수     0
13시승차총승객수     0
13시하차총승객수     0
14시승차총승객수     0
14시하차총승객수     0
15시승차총승객수     0
15시하차총승객수     0
16시승차총승객수     0
16시하차총승객수     0
17시승차총승객수     0
17시하차총승객수     0
18시승차총승객수     0
18시하차총승객수     0
19시승차총승객수     0
19시하차총승객수     0
20시승차총승객수     0
20시하차총승객수     0
21시승차총승객수     0
21시하차총승객수     0
22시승차총승객수     0
22시하차총승객수     0
23시승차총승객수     0
23시하차총승객수     0
등록일자          0
dtype: int64

In [ ]:
df_bus_time[['표준버스정류장ID','버스정류장ARS번호','역명']].nunique()

표준버스정류장ID     22890
버스정류장ARS번호    12860
역명             8296
dtype: int64

In [ ]:
df_bus_time.rename(columns = {'표준버스정류장ID' : '표준ID'}, inplace = True)

In [ ]:
df_bus_time.표준ID.value_counts()

101000032    329
105000030    324
100000388    324
100000398    317
100000389    314
            ...
121900241      1
121900213      1
121900209      1
121900142      1
227000486      1
Name: 표준ID, Length: 22890, dtype: int64

In [ ]:
df_bus_time[df_bus_time.표준ID == '105000030']

,사용년월,노선번호,노선명,표준ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,...,19시하차총승객수,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,등록일자
213840,202006,121,121번(화계사~서울숲),105000030,06114,서울성심병원,0,0,0,0,...,287,91,244,69,205,108,199,7,12,20210512
215073,202006,271B,271B번(용마문화복지센터~국회의사당역),105000030,06114,서울성심병원,29,89,2,2,...,96,59,85,63,77,59,85,28,60,20210512
224157,202006,202,202번(불암동~후암동),105000030,06114,서울성심병원,30,21,0,0,...,194,197,145,200,169,220,166,109,98,20210512
224387,202006,3220,3220번(오금동~청량리),105000030,06114,서울성심병원,0,2,0,0,...,158,93,84,84,80,93,103,43,87,20210512
224577,202006,3216,3216번(오금동~경희의료원),105000030,06114,서울성심병원,10,2,0,0,...,78,107,47,100,47,84,30,54,27,20210512
224966,202006,120,120번(우이동~청량리),105000030,06114,서울성심병원,113,5,0,0,...,204,305,88,346,49,435,86,256,40,20210512
225454,202006,1227,1227번(하계동~제기동),105000030,06114,서울성심병원,27,13,0,0,...,60,113,52,81,52,108,56,55,34,20210512
226033,202006,241,241번(중랑차고지~논현역),105000030,06114,서울성심병원,108,72,35,30,...,113,173,91,133,69,116,85,82,39,20210512
226936,202006,270,270번(상암동차고지~망우리),105000030,06114,서울성심병원,0,0,0,0,...,236,110,162,132,142,98,138,31,62,20210512

In [ ]:
df_bus_time.head()

,사용년월,노선번호,노선명,표준ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,...,19시하차총승객수,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,등록일자
0,202001,100,100번(하계동~용산구청),100000002,01002,창경궁.서울대학교병원,1,0,0,0,...,34,82,16,44,37,49,27,20,15,20200203
1,202001,100,100번(하계동~용산구청),100000003,01003,명륜3가.성대입구,0,0,0,0,...,156,179,102,178,96,168,62,47,18,20200203
2,202001,100,100번(하계동~용산구청),100000005,01005,혜화동로터리.여운형활동터,0,2,0,0,...,318,24,143,38,103,47,76,6,28,20200203
3,202001,100,100번(하계동~용산구청),100000102,01198,원남동,0,0,0,0,...,98,167,85,109,87,97,35,26,13,20200203
4,202001,100,100번(하계동~용산구청),100000108,01204,종로5가.효제동.김상옥의거터,19,34,1,0,...,56,68,24,75,39,59,31,23,28,20200203

In [ ]:
df_bus_coord = pd.read_excel('2020_busstation_coord.xlsx')
df_bus_coord

            표준ID  ARS-ID           정류장명         X좌표        Y좌표   비고
0      100000001    1001        종로2가사거리  126.987750  37.569765  NaN
1      100000002    1002    창경궁.서울대학교병원  126.996566  37.579183  NaN
2      100000003    1003      명륜3가.성대입구  126.998340  37.582671  NaN
3      100000004    1004       종로2가.삼일교  126.987613  37.568579  NaN
4      100000005    1005  혜화동로터리.여운형활동터  127.001744  37.586243  NaN
...          ...     ...            ...         ...        ...  ...
11275  124000334   25995          우성아파트  127.139339  37.550386  NaN
11276  124000333   25996          우성아파트  127.140046  37.550643  NaN
11277  124000332   25997           조일약국  127.123596  37.533630  NaN
11278  124000331   25998           성내시장  127.125497  37.536155  NaN
11279  124000330   25999    천호우체국.로데오거리  127.127337  37.540343  NaN

[11280 rows x 6 columns]

In [ ]:
df_bus_coord.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11280 entries, 0 to 11279
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   표준ID    11280 non-null  int64
 1   ARS-ID  11280 non-null  int64
 2   정류장명    11280 non-null  object
 3   X좌표     11280 non-null  float64
 4   Y좌표     11280 non-null  float64
 5   비고      2 non-null      object
dtypes: float64(2), int64(2), object(2)
memory usage: 528.9+ KB

In [ ]:
df_bus_coord.nunique()

표준ID      11280
ARS-ID    11279
정류장명       7004
X좌표       11276
Y좌표       11274
비고            1
dtype: int64

In [ ]:
df_bus_tmp=pd.merge(df_bus_time, df_bus_coord, how='inner', on='표준ID')
df_bus_tmp

,사용년월,노선번호,노선명,표준ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,...,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,등록일자,ARS-ID,정류장명,X좌표,Y좌표,비고
0,202001,100,100번(하계동~용산구청),100000002,01002,창경궁.서울대학교병원,1,0,0,0,...,49,27,20,15,20200203,1002,창경궁.서울대학교병원,126.996566,37.579183,NaN
1,202001,102,102번(상계동~동대문),100000002,01002,창경궁.서울대학교병원,2,0,0,0,...,8,22,11,27,20200203,1002,창경궁.서울대학교병원,126.996566,37.579183,NaN
2,202001,104,104번(강북청소년수련관난나~숭례문),100000002,01002,창경궁.서울대학교병원,0,0,0,0,...,33,60,19,24,20200203,1002,창경궁.서울대학교병원,126.996566,37.579183,NaN
3,202001,106,106번(의정부~동대문),100000002,01002,창경궁.서울대학교병원,4,20,0,0,...,30,14,23,36,20200203,1002,창경궁.서울대학교병원,126.996566,37.579183,NaN
4,202001,140,140번(도봉산역~AT센터),100000002,01002,창경궁.서울대학교병원,0,0,0,0,...,74,25,73,13,20200203,1002,창경궁.서울대학교병원,126.996566,37.579183,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404939,202010,4412,4412(개포동~삼성의료원),122000614,23617,신분당선.강남역4번출구,0,0,0,0,...,387,77,31,16,20201103,23617,강남역,127.029670,37.494264,NaN
404940,202011,3412,3412번(강동공영차고지~우면동),122000614,23617,신분당선.강남역4번출구,72,17,0,0,...,233,55,106,33,20201203,23617,강남역,127.029670,37.494264,NaN
404941,202011,4412,4412(개포동~삼성의료원),122000614,23617,신분당선.강남역4번출구,0,0,0,0,...,461,89,32,9,20201203,23617,강남역,127.029670,37.494264,NaN
404942,202012,3412,3412번(강동공영차고지~우면동),122000614,23617,신분당선.강남역4번출구,18,12,0,0,...,80,33,64,16,20210103,23617,강남역,127.029670,37.494264,NaN
404943,202012,4412,4412(개포동~삼성의료원),122000614,23617,신분당선.강남역4번출구,0,0,0,0,...,64,46,6,3,20210103,23617,강남역,127.029670,37.494264,NaN

In [ ]:
df_bus_tmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 404944 entries, 0 to 404943
Data columns (total 60 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   사용년월        404944 non-null  int64
 1   노선번호        404944 non-null  object
 2   노선명         404944 non-null  object
 3   표준ID        404944 non-null  object
 4   버스정류장ARS번호  404944 non-null  object
 5   역명          404944 non-null  object
 6   00시승차총승객수   404944 non-null  int64
 7   00시하차총승객수   404944 non-null  int64
 8   1시승차총승객수    404944 non-null  int64
 9   1시하차총승객수    404944 non-null  int64
 10  2시승차총승객수    404944 non-null  int64
 11  2시하차총승객수    404944 non-null  int64
 12  3시승차총승객수    404944 non-null  int64
 13  3시하차총승객수    404944 non-null  int64
 14  4시승차총승객수    404944 non-null  int64
 15  4시하차총승객수    404944 non-null  int64
 16  5시승차총승객수    404944 non-null  int64
 17  5시하차총승객수    404944 non-null  int64
 18  6시승차총승객수    404944 non-null  int64
 19  6시하차총승객수    404944 non-null  int64
 20  7시승차총승객수    404944 non-null  int64
 21  7시하차총승객수    404944 non-null  int64
 22  8시승차총승객수    404944 non-null  int64
 23  8시하차총승객수    404944 non-null  int64
 24  9시승차총승객수    404944 non-null  int64
 25  9시하차총승객수    404944 non-null  int64
 26  10시승차총승객수   404944 non-null  int64
 27  10시하차총승객수   404944 non-null  int64
 28  11시승차총승객수   404944 non-null  int64
 29  11시하차총승객수   404944 non-null  int64
 30  12시승차총승객수   404944 non-null  int64
 31  12시하차총승객수   404944 non-null  int64
 32  13시승차총승객수   404944 non-null  int64
 33  13시하차총승객수   404944 non-null  int64
 34  14시승차총승객수   404944 non-null  int64
 35  14시하차총승객수   404944 non-null  int64
 36  15시승차총승객수   404944 non-null  int64
 37  15시하차총승객수   404944 non-null  int64
 38  16시승차총승객수   404944 non-null  int64
 39  16시하차총승객수   404944 non-null  int64
 40  17시승차총승객수   404944 non-null  int64
 41  17시하차총승객수   404944 non-null  int64
 42  18시승차총승객수   404944 non-null  int64
 43  18시하차총승객수   404944 non-null  int64
 44  19시승차총승객수   404944 non-null  int64
 45  19시하차총승객수   404944 non-null  int64
 46  20시승차총승객수   404944 non-null  int64
 47  20시하차총승객수   404944 non-null  int64
 48  21시승차총승객수   404944 non-null  int64
 49  21시하차총승객수   404944 non-null  int64
 50  22시승차총승객수   404944 non-null  int64
 51  22시하차총승객수   404944 non-null  int64
 52  23시승차총승객수   404944 non-null  int64
 53  23시하차총승객수   404944 non-null  int64
 54  등록일자        404944 non-null  int64
 55  ARS-ID      404944 non-null  int64
 56  정류장명        404944 non-null  object
 57  X좌표         404944 non-null  float64
 58  Y좌표         404944 non-null  float64
 59  비고          11 non-null      object
dtypes: float64(2), int64(51), object(7)
memory usage: 188.5+ MB

In [ ]:
df_bus_tmp.nunique()

사용년월             12
노선번호            628
노선명             659
표준ID          10647
버스정류장ARS번호    10651
역명             6867
00시승차총승객수      1116
00시하차총승객수       826
1시승차총승객수        624
1시하차총승객수        493
2시승차총승객수        482
2시하차총승객수        406
3시승차총승객수        493
3시하차총승객수        394
4시승차총승객수       1085
4시하차총승객수        783
5시승차총승객수       1156
5시하차총승객수       1532
6시승차총승객수       1612
6시하차총승객수       2129
7시승차총승객수       2909
7시하차총승객수       3948
8시승차총승객수       3632
8시하차총승객수       4601
9시승차총승객수       2778
9시하차총승객수       3415
10시승차총승객수      1992
10시하차총승객수      2435
11시승차총승객수      1893
11시하차총승객수      2227
12시승차총승객수      2083
12시하차총승객수      2292
13시승차총승객수      2209
13시하차총승객수      2335
14시승차총승객수      2288
14시하차총승객수      2222
15시승차총승객수      2577
15시하차총승객수      2252
16시승차총승객수      2853
16시하차총승객수      2399
17시승차총승객수      3324
17시하차총승객수      2710
18시승차총승객수      4190
18시하차총승객수      3110
19시승차총승객수      3949
19시하차총승객수      2656
20시승차총승객수      3132
20시하차총승객수      2002
21시승차총승객수      3069
21시하차총승객수      1881
22시승차총승객수      2974
22시하차총승객수      1803
23시승차총승객수      2225
23시하차총승객수      1351
등록일자             10
ARS-ID        10647
정류장명           6703
X좌표           10644
Y좌표           10642
비고                1
dtype: int64

In [ ]:
df_bus_tmp.head()

,사용년월,노선번호,노선명,표준ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,...,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,등록일자,ARS-ID,정류장명,X좌표,Y좌표,비고
0,202001,100,100번(하계동~용산구청),100000002,01002,창경궁.서울대학교병원,1,0,0,0,...,49,27,20,15,20200203,1002,창경궁.서울대학교병원,126.996566,37.579183,NaN
1,202001,102,102번(상계동~동대문),100000002,01002,창경궁.서울대학교병원,2,0,0,0,...,8,22,11,27,20200203,1002,창경궁.서울대학교병원,126.996566,37.579183,NaN
2,202001,104,104번(강북청소년수련관난나~숭례문),100000002,01002,창경궁.서울대학교병원,0,0,0,0,...,33,60,19,24,20200203,1002,창경궁.서울대학교병원,126.996566,37.579183,NaN
3,202001,106,106번(의정부~동대문),100000002,01002,창경궁.서울대학교병원,4,20,0,0,...,30,14,23,36,20200203,1002,창경궁.서울대학교병원,126.996566,37.579183,NaN
4,202001,140,140번(도봉산역~AT센터),100000002,01002,창경궁.서울대학교병원,0,0,0,0,...,74,25,73,13,20200203,1002,창경궁.서울대학교병원,126.996566,37.579183,NaN

In [ ]:
df_bus_tmp.columns

Index(['사용년월', '노선번호', '노선명', '표준ID', '버스정류장ARS번호', '역명', '00시승차총승객수',
       '00시하차총승객수', '1시승차총승객수', '1시하차총승객수', '2시승차총승객수', '2시하차총승객수', '3시승차총승객수',
       '3시하차총승객수', '4시승차총승객수', '4시하차총승객수', '5시승차총승객수', '5시하차총승객수', '6시승차총승객수',
       '6시하차총승객수', '7시승차총승객수', '7시하차총승객수', '8시승차총승객수', '8시하차총승객수', '9시승차총승객수',
       '9시하차총승객수', '10시승차총승객수', '10시하차총승객수', '11시승차총승객수', '11시하차총승객수',
       '12시승차총승객수', '12시하차총승객수', '13시승차총승객수', '13시하차총승객수', '14시승차총승객수',
       '14시하차총승객수', '15시승차총승객수', '15시하차총승객수', '16시승차총승객수', '16시하차총승객수',
       '17시승차총승객수', '17시하차총승객수', '18시승차총승객수', '18시하차총승객수', '19시승차총승객수',
       '19시하차총승객수', '20시승차총승객수', '20시하차총승객수', '21시승차총승객수', '21시하차총승객수',
       '22시승차총승객수', '22시하차총승객수', '23시승차총승객수', '23시하차총승객수', '등록일자', 'ARS-ID',
       '정류장명', 'X좌표', 'Y좌표', '비고'],
      dtype='object')

In [ ]:
bus_tmp=df_bus_tmp[(df_bus_tmp.사용년월 > 202001) & (df_bus_tmp.사용년월 < 202007)]
bus_tmp.drop(['노선번호', '노선명','버스정류장ARS번호','등록일자', 'ARS-ID',
       '정류장명','비고'], axis=1, inplace=True)

C:\Users\ILSOO\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [ ]:
bus_tmp

,사용년월,표준ID,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,2시하차총승객수,3시승차총승객수,...,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,X좌표,Y좌표
17,202002,100000002,창경궁.서울대학교병원,0,0,0,0,0,0,0,...,31,27,22,25,16,20,17,3,126.996566,37.579183
18,202002,100000002,창경궁.서울대학교병원,0,1,0,0,0,0,0,...,16,40,16,36,5,22,7,19,126.996566,37.579183
19,202002,100000002,창경궁.서울대학교병원,0,0,0,0,0,0,0,...,27,36,22,39,15,26,11,11,126.996566,37.579183
20,202002,100000002,창경궁.서울대학교병원,5,13,0,0,0,0,0,...,24,18,23,6,20,7,26,22,126.996566,37.579183
21,202002,100000002,창경궁.서울대학교병원,0,0,0,0,0,0,0,...,99,19,87,25,57,15,59,15,126.996566,37.579183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404891,202006,124000186,상일동주몽재활원,0,0,0,0,0,0,0,...,0,3,48,89,59,232,15,79,127.163209,37.545746
404904,202006,124000187,상일동빌라단지,6,26,0,0,0,0,0,...,14,158,6,78,0,5,0,33,127.160119,37.545414
404905,202006,124000187,상일동빌라단지,0,0,0,0,0,0,0,...,0,3,64,192,134,482,37,124,127.160119,37.545414
404918,202006,124000188,상일동빌라단지,0,0,0,0,0,0,0,...,24,105,76,342,79,133,38,14,127.160085,37.545685
404919,202006,124000188,상일동빌라단지,13,7,0,0,0,0,0,...,60,39,8,2,14,5,29,19,127.160085,37.545685

In [1]:
import geopandas as gpd
import folium
import json
from geopandas import GeoSeries, GeoDataFrame, read_file
from shapely.geometry import Point, Polygon

ModuleNotFoundError: ignored

In [ ]:
df_bus_tmp = gpd.GeoDataFrame(bus_tmp, geometry=gpd.points_from_xy(bus_tmp['X좌표'],bus_tmp['Y좌표']))
df_bus_tmp.head(2)

,사용년월,표준ID,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,2시하차총승객수,3시승차총승객수,...,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,X좌표,Y좌표,geometry
17,202002,100000002,창경궁.서울대학교병원,0,0,0,0,0,0,0,...,27,22,25,16,20,17,3,126.996566,37.579183,POINT (126.99657 37.57918)
18,202002,100000002,창경궁.서울대학교병원,0,1,0,0,0,0,0,...,40,16,36,5,22,7,19,126.996566,37.579183,POINT (126.99657 37.57918)

In [ ]:
df_bus_tmp.to_csv('gdf_bus.csv')