### geo3_save_load
- GeoDataFrame의 지속적인 활용을 위해 csv가 아닌 Geojson형태로 저장해야 함을 강조
    - csv file을 load하면 형태만 GeoDataFrame이고 실질적으로 일반 DataFrame이기 때문

In [2]:
import json
from geopandas import GeoSeries, GeoDataFrame, read_file
from shapely.geometry import Point, Polygon
import geopandas as gpd
import pandas as pd

In [3]:
df_seoul2 = pd.read_csv('./data/seoul_inf.csv',index_col=0)
df_seoul2.head()

,시,지명,좌표,lat,lon,point,geometry
0,서울특별시,피자몰회기역점,"37.5900925507337,127.05638644492198",37.590093,127.056386,POINT (126.998190621218 37.49771392155949),POINT (127.056386444922 37.5900925507337)
1,서울특별시,코로나19경희대학교병원선별진료소,"37.5938752004487,127.051832862704",37.593875,127.051833,POINT (126.998190621218 37.49771392155949),POINT (127.051832862704 37.5938752004487)
2,서울특별시,긱스타PC방,"37.4798642759744,126.952112617476",37.479864,126.952113,POINT (126.998190621218 37.49771392155949),POINT (126.952112617476 37.4798642759744)
3,서울특별시,엄마밥상,"37.47155151403081,126.94015305484399",37.471552,126.940153,POINT (126.998190621218 37.49771392155949),POINT (126.940153054844 37.47155151403081)
4,서울특별시,언제나열린이비인후과의원,"37.48476920038009,126.930088627422",37.484769,126.930089,POINT (126.998190621218 37.49771392155949),POINT (126.930088627422 37.48476920038009)

In [10]:
df_seoul2.info() # 여전히 dataframe

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26115 entries, 0 to 26114
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시         26115 non-null  object
 1   지명        26115 non-null  object
 2   좌표        26115 non-null  object
 3   lat       26115 non-null  float64
 4   lon       26115 non-null  float64
 5   point     26115 non-null  object
 6   geometry  26115 non-null  object
dtypes: float64(2), object(5)
memory usage: 1.6+ MB

In [12]:
# 다시 이 작업을 거쳐야 geo_dataframe이 됨.
df= gpd.GeoDataFrame(df_seoul2, geometry=gpd.points_from_xy(df_seoul2['lon'],df_seoul2['lat']))
df.head(2)

,시,지명,좌표,lat,lon,point,geometry
0,서울특별시,피자몰회기역점,"37.5900925507337,127.05638644492198",37.590093,127.056386,POINT (126.998190621218 37.49771392155949),POINT (127.05639 37.59009)
1,서울특별시,코로나19경희대학교병원선별진료소,"37.5938752004487,127.051832862704",37.593875,127.051833,POINT (126.998190621218 37.49771392155949),POINT (127.05183 37.59388)

In [14]:
df1=df[['지명','geometry']]

In [15]:
df1.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 26115 entries, 0 to 26114
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   지명        26115 non-null  object
 1   geometry  26115 non-null  geometry
dtypes: geometry(1), object(1)
memory usage: 612.1+ KB

In [ ]:
# 저장시 csv와 geojson 형태 모두 저장해 놓는게 좋다.

In [16]:
df1.to_file(driver='GeoJSON', filename='df_seoul_inf.geojson')

In [17]:
df_geo = gpd.GeoDataFrame.from_file('./data/df_seoul_inf.geojson')
# df_geo = gpd.read_file('df_geo.geojson')로 해도 같다.
df_geo.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 26115 entries, 0 to 26114
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   지명        26115 non-null  object
 1   geometry  26115 non-null  geometry
dtypes: geometry(1), object(1)
memory usage: 408.2+ KB

In [18]:
df_geo.to_csv('df_seoul_inf.csv')

In [ ]:
# 불러들일 때 좌표계 선택 가능
# gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df['latitude'], df['longitude']),
#                                 crs={'init' :'epsg:3763'})